@import './global.css';

.box {
  background: #abc9ff;
  height: 30vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

h2 {
  text-align: center;
  margin-top: 64px;
}

ul {
  position: relative;
  width: min(90%, 768px);
  margin: 0 auto;
  margin-bottom: 32px;
  margin-top: 32px;

  border-radius: 24px;
  padding: 32px;
  background: #fcfcfc;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

ul::after {
  content: '\2713';
  display: inline-block;
  color: #4bb543;
  padding: 0 6px 0 0;
  font-size: 64px;

  position: absolute;
  top: -35px;
  right: -20px;
  transform: rotate(25deg);
}

ul li {
  color: #454545;
}

ul li strong {
  color: #181818;
}
