*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #0e0e0e;
  background: #f1f1f1;
}

img {
  display: block;
  max-width: 100%;
}

button,
input,
textarea {
  border: none;
  color: inherit;
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ol,
ul {
  list-style: none;
  font-family: inherit;
}

li {
  font-family: inherit;
}
