@import './global.css';

.box {
  background: #abc9ff;
  height: 50vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 32px;
  margin-bottom: 16px;
}

.form-wrapper {
  width: min(90%, 768px);
  margin: 0 auto;
  margin-bottom: 32px;

  border-radius: 24px;
  overflow: hidden;
  background: #fcfcfc;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* Style the tab */
.tab {
  display: flex;
  width: 100%;
  padding: 16px;
  gap: 8px;
  overflow: auto;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 24px;
  padding: 16px;
  transition: 400ms ease;
  transition-property: border-color, background;
  font-size: 14px;
  white-space: nowrap;
  border: 2px solid transparent;
}

/* Change background color of buttons on hover */
.tab button:hover {
  border-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #fff;
  border-color: #abc9ff;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 32px;
  border-top: none;
  animation: show 500ms ease;
}

.tabcontent h3 {
  font-size: 22px;
}

.tabcontent fieldset {
  border: 0;
  margin-top: 16px;
}

.tabcontent fieldset legend {
  display: block;
  font-weight: 500;
  padding-bottom: 4px;
}

.tabcontent form label {
  display: block;
  font-size: 14px;
  color: #2f2f2f;
  margin-bottom: 4px;
}

.tabcontent form input {
  width: 100%;
  border-radius: 4px;
  display: block;
  background: transparent;
  caret-color: #abc9ff;
  padding: 8px;
  outline-color: #abc9ff;
  border: 1px solid #ddd;
}


.tabcontent form .group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  margin-top: 16px;

 
}

@media (max-width: 500px) {
  .tabcontent form .group {
    grid-template-columns: 1fr;
  }
}

.tabcontent form .group:first {
  margin-top: 0;
}


.tabcontent .button-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-top: 32px;
}

.tabcontent .button-wrapper button {
  background: #FF8B8B;
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 24px;
  cursor: pointer;
  text-transform: uppercase;
  transition: 400ms ease;
  transition-property: transform, box-shadow;
}

.tabcontent .button-wrapper button:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.1);
}